@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.pricing{
    background: #F5F5F5;;
    text-align: center;
    padding: 107px 0 50px 0;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing-title{
    margin-bottom: 60px;
}

.pricing-title_name{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 57px;
}

.pricing-title_underline{
    width: 170px;
    height: 1px;
    margin: 0 auto 40px auto;
    border: none;
    background-color: #EC7979;
}

.pricing-title_caption{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.pricing-cart{
    width: 370px;
    display: inline-block;
}

.pricing-cart_item{
    padding: 15px 0 14px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #86878B;
    border-bottom: 2px solid #F5F5F5;
    background: #FFFFFF;
}

.pricing-cart__second{
    margin: 0 25px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing-cart_item__class{
    font-family: 'Open Sans', sans-serif;
    padding: 18px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    background: #333333;
    color: #FFFFFF;
}

.pricing-cart_item__cost{
    padding: 28px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: #333333;
    color: #FFFFFF;
}

.pricing-cart_item__free{
    padding: 14px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
}


