

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.wrapper{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
}

.awesome-title{
	margin-top: 107px;
/* при объединении секций - убрать */
}

.awesome-title_name{
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	padding: 0 0 57px 0;
}

.awesome-title_underline{
	max-width: 170px;
	height: 1px;
	border: none;
	background: #EC7979;
	margin: 0 auto 40px auto;
}

.awesome-title_caption{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	margin-bottom: 110px;
}

/* .awesome-carts */

.awesome-carts_cart{
	max-width: 370px;
	display: inline-block;
}

.cart_img{
	padding-top: 12px;
	margin-bottom: 77px;
	width: 92px;
	height: 92px;
	border: 1px solid #EC7979;
	border-radius: 50%;
	display: inline-block;
}

.awesome-carts_cart__second{
	margin: 0 25px;
}

.cart_img__second{
	padding-top: 21px;
}

.awesome-carts_cart h4{
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 44px 0px;
}

.awesome-carts_cart p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}