@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Open Sans", sans-serif;
}

.wrapper{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.tabs_section{
	margin: 100px 0;
	text-align: center;
}

.tabs_button{
	display: flex;
	max-width: 600px;
	justify-content: space-between;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #333333;
	margin-bottom: -1px ;
}

.tabs_button1{
	padding: 10px 80px;
	border: 1px solid #C6CBCD;
	border-bottom: 3px solid #FFFFFF;
	border-radius: 5px 5px 0 0;
	/* закруглить углы */
}

.tabs_button2{
	padding: 10px 80px;
}

.tabs_button3{
	padding: 10px 80px;
}

/* сделано, кроме button1 */

.tabs_content{
display: flex;
justify-content: space-between;
border: 1px solid #C6CBCD;
}

.tabs_content_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 570px;
	margin: 0 30px 0 100px;
}

.tabs_title{
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	padding: 42px 48px 42px 0;
}

.tabs_text{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: start;
}

.tabs_download{
	align-self: flex-start;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	padding: 15px 90px;
	margin: 0 0 54px 0;;
	background: #EC7979;
	border: none;
	cursor: pointer;
}

