@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 100px auto;
}

.axit{
    background: #000000;
}

.axit-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.axit-logo_ax{
    fill: #FFFFFF;
}

.axit-logo_it{
    fill: #EC7979;
}

.axit-nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.axit-nav_item{
    padding: 25px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.3s;
}

.axit-nav_item:hover{
    color: #EC7979;;
}

/* social media */

.social-media-section{
    background: #F8EFEF;
}

.social-media{
    display: flex;
    justify-content: space-between;
}

.social-media_content{
    max-width: 470px;
}

.social-media_content_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin: 18px 0 36px 0;
}

.social-media_content_text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 18px;
}

.social-media_link{
    display: flex;
    align-items: center;
}

.social-media_link_list{
    display: flex;
    flex-wrap: wrap;
}

.social-media_link_item{
    font-size: 55px;
    margin-left: 45px;
    color: #CCCCCC;
    transition: 0.3s;
}

.social-media_link_item:hover{
    transform: scale(1.1);
    color: #000000;
}

/* stylish */

.stylish-section{
    position: relative;
    padding: 1px 0 1px 0;
    background: url(../assets/img/stylish_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stylish{
    text-align: center;
    background-size: cover;
}

.stylish-title_name{
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	padding-bottom: 57px;
    color: #FFFFFF;
}

.stylish-title_name:before{
	position: absolute;
	content: "";
	background: #FFFFFF;
	width: 170px;
	height: 1px;
	bottom: 0;
	left: calc(50% - 85px);
}

.stylish-title_caption{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 40px 0 73px 0;
	color: #86878B;
}

.stylish-download{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    max-width: 370px;
    padding: 20px 120px 20px 120px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin: 0 auto;
}

/* footer */

.axit-footer{
    text-align: center;
    background-color: #000000;
}


.footer-link_list{
    padding: 40px 0 32px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link_item{
    margin: 0 25px;
    transition: 0.6s;
    fill: #CCCCCC;
}

.footer-link_item:hover{
    transform: rotate(360deg);
    fill: royalblue;
}

.footer-copyright{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 27px;
}